* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--accent-color01);
  font-family: "Mplus_b", Arial, Helvetica, sans-serif;
}
:root {
  --bg-color: #0A090C;
  --bg-color01: #03221E; 
  --accent-color: #1AEAD2;
  --accent-color01: #DBD3D8;
  --border-r: 6px; 
  
  font-size: 12px;
  font-family: "Mplus_b", Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.body {
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: padding;
  transition-duration: 0.2s;
  transition-delay: 0.5s;
}
/* Fonts */

/* Regular */
@font-face {
  font-family: "Mplus_r";
  src: url(src/assets/fonts/MPLUSRounded1c-Regular.woff);
}
@font-face {
  font-family: "Robo_r";
  src: url(src/assets/fonts/Roboto-Regular.woff);
}
/* Bold*/
@font-face {
  font-family: "Mplus_b";
  src: url(src/assets/fonts/MPLUSRounded1c-Bold.woff);
}
@font-face {
  font-family: "Mplus_bb";
  src: url(src/assets/fonts/MPLUSRounded1c-ExtraBold.woff);
}
@font-face {
  font-family: "Robo_b";
  src: url(src/assets/fonts/Roboto-Bold.woff2);
}

/* Font Styling */

h1 {
  font-size: 2.5rem;
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
}

h2 {
  font-size: 1.8rem;
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
}
h3 {
  font-size: 1.4rem;
  opacity: 0.8;
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
}
h4 {
  font-size: 1.6rem;
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
}
p {
  font-size: 1rem;
  opacity: 0.8;
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
}
a {
  text-decoration: none;
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
}
li {
  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
}
.icons {
  max-width: 40px;
}
button {
  background-color: var(--accent-color01);
  border: none;
  color: var(--bg-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: var(--border-r);
  cursor: pointer;

  text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.12),  /* First shadow */
    2px 2px 6px rgba(0, 0, 0, 0.08);  /* Second shadow */
  box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), /* First shadow */ 
    0px 4px 6px rgba(0, 0, 0, 0.08); /* Second shadow */

    transition: transform color background-color;
    transition-duration: 0.2s;
}
button:hover {
  transform: scale(1.1);
  background-color: var(--bg-color01);
  color: var(--accent-color01);
}
div {
  box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), /* First shadow */ 
    0px 4px 6px rgba(0, 0, 0, 0.08); /* Second shadow */
}
